/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 22.R3 */

html {
  box-sizing: border-box;
}

#doc-page-81 section {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-style: normal;
  cursor: default;
}

:root {
  --docebo-base-black: #000000;
  --docebo-base-charcoal: rgb(10, 14, 18);
  --docebo-base-white: #ffffff;
  --docebo-gray50: #f8f9fb;
  --docebo-gray200: #eaecf0;
  --docebo-gray100: #F2F4F7;
  --docebo-gray300: #cfd4dc;
  --docebo-gray400: #98a1b2;
  --docebo-gray600: #475466;
  --docebo-gray900: #0f1728;
  --docebo-primary50: #f4f8ff;
  --docebo-primary100: #ebf3ff;
  --docebo-primary500: #0065ff;
  --docebo-primary800: #00398e;
  --docebo-yellow500: #FFB700;
  --docebo-yellow600: #d4a93c;
  --docebo-beige500: #DCCBBA;
  --docebo-purple500: #6A5ACD;
  --docebo-green500: #2E8B57;
  --docebo-green700: #403455;
  --docebo-crimson500: #DC143C;
  --docebo-primary500: #0065ff;
  --docebo-primary800: #00398e;
  --docebo-orange500: #FFA500;
  --docebo-purple500: #6A5ACD;
  --docebo-greeen500: #2E8B57;
  --docebo-crimson500: #DC143C;


  --docebo-background-dark: #0f1128;

  --docebo-gradient-notify: linear-gradient(90deg, #5FE9D0 0%, #6FA5F6 100%);
  --docebo-gradient-hero: linear-gradient(180deg, #F2F4F7 0%, #EBF3FF 100%);
  --docebo-gradient-hero2: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EBF3FF 100%);
  --docebo-gradient-hero3: linear-gradient(180deg, #EBF3FF 0%, #F2F4F7 100%);
  --docebo-gradient-hero4: linear-gradient(180deg, #EBF3FF 0%, #ffffff 100%);

  --docebo-gradient-primary: linear-gradient(90deg, #352C9F 0%, #0164F8 100%);
  --docebo-gradient-white: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.025) 100%);

  --font-family-main: 'Poppins', sans-serif;

  --font-size-12: 12px;
  --line-height-16: 16px;

  --font-size-14: 14px;
  --line-height-20: 20px;

  --font-size-16: 16px;
  --line-height-24: 24px;

  --font-size-18: 18px;
  --line-height-28: 28px;

  --font-size-24: 24px;
  --line-height-32: 32px;

  --font-size-28: 28px;
  --line-height-40: 40px;

  --font-size-36: 36px;
  --line-height-44: 44px;

  --font-size-48: 48px;
  --line-height-60: 60px;

  --docebo-gap-4: 4px;
  --docebo-gap-8: 8px;
  --docebo-gap-16: 16px;
  --docebo-gap-24: 24px;
  --docebo-gap-28: 28px;
  --docebo-gap-32: 32px;
  --docebo-gap-40: 40px;
  --docebo-gap-48: 48px;
  --docebo-gap-64: 64px;
  --docebo-gap-96: 96px;

  --docebo-max-width: 1120px;

  --docebo-padding: 64px 64px;
  --docebo-padding-stack-first: 112px 64px 64px 64px;
  --docebo-padding-stack-last: 64px 64px 112px 64px;
}

.text-secondary {
  color: var(--docebo-gray600);
}

.dark {
  color: var(--docebo-base-white);
  overflow: hidden;
}

.dark .text-secondary {
  color: var(--docebo-gray300);
}

.text-primary {
  color: var(--docebo-primary500);
}


img {
  pointer-events: none;
}

a {
  color: inherit;
}

.shadow {
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.05);
}

/* Text XS (P) */

.docebo-text-xs-regular {
  font-family: var(--font-family-main);
  font-size: var(--font-size-12) !important;
  line-height: var(--line-height-16) !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.docebo-text-xs-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-12) !important;
  line-height: var(--line-height-16) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.docebo-text-xs-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-12) !important;
  line-height: var(--line-height-16) !important;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}


/* Text Small (P) */

.docebo-text-small-regular {
  font-family: var(--font-family-main);
  font-size: var(--font-size-14) !important;
  line-height: var(--line-height-20) !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.docebo-text-small-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-14) !important;
  line-height: var(--line-height-20) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.docebo-text-small-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-14) !important;
  line-height: var(--line-height-20) !important;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

/* Text Medium (P) */

.docebo-text-medium-regular {
  font-family: var(--font-family-main);
  font-size: var(--font-size-16) !important;
  line-height: var(--line-height-24) !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.docebo-text-medium-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-16) !important;
  line-height: var(--line-height-24) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.docebo-text-medium-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-16) !important;
  line-height: var(--line-height-24) !important;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

/* Text Large (H5) */

.docebo-text-large-regular {
  font-family: var(--font-family-main);
  font-size: var(--font-size-18) !important;
  line-height: var(--line-height-28) !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.docebo-text-large-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-18) !important;
  line-height: var(--line-height-28) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

.docebo-text-large-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-18) !important;
  line-height: var(--line-height-28) !important;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

/* Display XS (H4) */

.docebo-display-xs-regular {
  font-family: var(--font-family-main);
  font-size: var(--font-size-24) !important;
  line-height: var(--line-height-32) !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.docebo-display-xs-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-24) !important;
  line-height: var(--line-height-32) !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}

/* Display Small (H3) */

.docebo-display-small-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-28) !important;
  line-height: var(--line-height-40) !important;
  font-style: normal;
  font-weight: 500;
  overflow-wrap: break-word;
}

.docebo-display-small-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-28) !important;
  line-height: var(--line-height-40) !important;
  font-style: normal;
  font-weight: 600;
}

/* Display Medium (H2) */

.docebo-display-medium-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-36) !important;
  line-height: var(--line-height-44) !important;
  font-style: normal;
  font-weight: 500;
}

.docebo-display-medium-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-36) !important;
  line-height: var(--line-height-44) !important;
  font-style: normal;
  font-weight: 600;
}

/* Display Large (H1) */

.docebo-display-large-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-48) !important;
  line-height: var(--line-height-60) !important;
  font-style: normal;
  font-weight: 500;
}

.docebo-display-large-semi-bold {
  font-family: var(--font-family-main);
  font-size: var(--font-size-48) !important;
  line-height: var(--line-height-60) !important;
  font-style: normal;
  font-weight: 600;
}

/* Display XL (H1) */

.docebo-display-xl-medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-48) !important;
  line-height: var(--line-height-60) !important;
  font-style: normal;
  font-weight: 500;
}

.docebo-display-xl-semi-bold {
  font-family: var(--font-family-main);
  font-size: 64px !important;
  line-height: 80px !important;
  font-style: normal;
  font-weight: 600;
}

/* GENERAL */

/* Layout */

.grid-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: var(--docebo-gap-32);
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}



.row-16 {
  align-items: flex-start !important;
  align-self: stretch !important;
  display: flex !important;
  gap: var(--docebo-gap-16) !important;
  height: auto !important;
  flex-direction: row !important;
  position: relative !important;
}

.row-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: var(--docebo-gap-32);
  height: auto;
  position: relative;
}

.column {
  align-items: flex-start !important;
  display: flex !important;
  flex: 1 !important;
  flex-direction: column !important;
  gap: 0 !important;
}

.column-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--docebo-gap-4);
}

.column-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--docebo-gap-8);
}

.column-16 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--docebo-gap-16);
}

.column-32 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--docebo-gap-32);
}

.white-background {
  background-color: var(--docebo-base-white) !important;
}

.gray-background {
  background-color: var(--docebo-primary50);
}

/* Icons */

.icon-20 {
  height: 20px !important;
  min-width: 20px !important;
  pointer-events: none;
}

.icon-24 {
  height: 24px;
  width: 24px;
  pointer-events: none;
}

.icon-40 {
  width: 40px;
  height: 40px;
  pointer-events: none;
}

section {
  background-color: var(--docebo-base-white);
  color: var(--docebo-base-black);
}


/* Countdown */


.countdownContainer {
  color: white;
  position: relative;

  text-align: center;

  padding: 20px;

display: flex;

  background: rgb(20, 26, 32);

  border-radius: 72px;
}

.counter-pill {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.counter {
    display: grid;
    /* font-size: 4rem; */
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

